
.rtl{
    direction: rtl;
    font-family: 'Cairo', sans-serif !important;
}
.swiper {
  width: 100%;
  height: 100px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.alert{
  position: fixed;
  z-index: 5;
  left: 45%;
  top: 13%;
  width: 25%;
  transform: translateX(-50%);
  display: none;
  box-shadow: 0 0 10px #90f,0 0 20px #90f;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
}
.alert-success {
  color: #fff !important;
  background-color: #90f !important;
  border-color: #90f !important;
}
/*=============================================
	=    		 breadcrumb			      =
=============================================*/
.breadcrumb-img{
  width: 50%;
}
.breadcrumb-button {
  position: relative;
  padding: 5px 25px;
  font-size: 16px;
  color: var(--color);
  border: 2px solid #fff;
  border-radius: 4px;
  text-shadow: 0 0 15px var(--color);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: 0.5s;
  z-index: 1;
  bottom: -30px;
}

.breadcrumb-button:hover {
  color: #fff;
  border: 2px solid rgba(0, 0, 0, 0);
  box-shadow: 0 0 0px var(--color);
}

.breadcrumb-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color);
  z-index: -1;
  transform: scale(0);
  transition: 0.5s;
}

.breadcrumb-button:hover::before {
  transform: scale(1);
  transition-delay: 0.5s;
  box-shadow: 0 0 10px var(--color),
    0 0 30px var(--color),
    0 0 60px var(--color);
}

.breadcrumb-button span {
  position: absolute;
  background: var(--color);
  pointer-events: none;
  border-radius: 2px;
  box-shadow: 0 0 10px var(--color),
    0 0 20px var(--color),
    0 0 30px var(--color),
    0 0 50px var(--color),
    0 0 100px var(--color);
  transition: 0.5s ease-in-out;
  transition-delay: 0.25s;
}

.breadcrumb-button:hover span {
  opacity: 0;
  transition-delay: 0s;
}

.breadcrumb-button span:nth-child(1),
.breadcrumb-button span:nth-child(3) {
  width: 40px;
  height: 4px;
}

.breadcrumb-button:hover span:nth-child(1),
.breadcrumb-button:hover span:nth-child(3) {
  transform: translateX(0);
}

.breadcrumb-button span:nth-child(2),
.breadcrumb-button span:nth-child(4) {
  width: 4px;
  height: 40px;
}

.breadcrumb-button:hover span:nth-child(1),
.breadcrumb-button:hover span:nth-child(3) {
  transform: translateY(0);
}

.breadcrumb-button span:nth-child(1) {
  top: calc(50% - 2px);
  left: -50px;
  transform-origin: left;
}

.breadcrumb-button:hover span:nth-child(1) {
  left: 50%;
}

.breadcrumb-button span:nth-child(3) {
  top: calc(50% - 2px);
  right: -50px;
  transform-origin: right;
}

.breadcrumb-button:hover span:nth-child(3) {
  right: 50%;
}

.breadcrumb-button span:nth-child(2) {
  left: calc(50% - 2px);
  top: -50px;
  transform-origin: top;
}

.breadcrumb-button:hover span:nth-child(2) {
  top: 50%;
}

.breadcrumb-button span:nth-child(4) {
  left: calc(50% - 2px);
  bottom: -50px;
  transform-origin: bottom;
}

.breadcrumb-button:hover span:nth-child(4 ) {
  bottom: 50%;
}

footer{
  background-image: url(../img/bg/bg.jpg);
  background-position: right;
}
#btn-hide-order{
  display: none;
margin-top: 25px;
}
#btn-hide-order.show{
  display: block !important;
}

#show-products{
  display: none;
}
#show-products.show{
  display: block;
}
#show-orders{
  display: none;
}
#show-orders.show{
  display: block;
}
/*=============================================
	=    		 sidebar			      =
=============================================*/
.overlay{
    opacity: 0;
    background-color: #00000044;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: .5s;
    z-index: -1;
}
.overlay.open{
    opacity: 1;
    z-index: 100;
}
.sidebar .sidebar-logo{
    width: 80px ;
    transition: .5s;
}
.sidebar.open .sidebar-logo{
    width: 120px;
}
.sidebar a{
    font-size: 16px !important;
    color: #aa84d5 !important;
}
.sidebar a.active{
    font-size: 17px !important;
}
.sidebar li{
    display: flex;
    align-items: center;
}
.sidebar li.active .icon{
    background-color: #473080 !important;
    color: #fff !important;
}
.sidebar .name-link{
    display: none;
    margin-inline-start: 10px;
    transition: .5s;
}
.sidebar li.active .name-link{
    color: #fff !important;
}
.sidebar.open .name-link{
    display: block;
}
@media (max-width: 1199.98px) {
    .sidebar li{
        flex-direction: column;
    }
    .sidebar .name-link{
        display: block;
        font-size: 12px !important;
        width: 100%;
        margin-inline-start: 0;

    }
    .sidebar-icon ul li .icon {
        width: 50px;
        height: 40px;
    }
}
/*=============================================
	=    		 Header			      =
=============================================*/
header .logo{
    position: relative;
    margin-inline-end: 20px;
}
header .logo::before {
	content: "";
	position: absolute;
	left: -10px;
	top: 50%;
	transform: translateY(-50%);
	width: 4px;
	height: 31px;
	border-radius: 3px;
	background: var(--header-form-border-color)
}
header .logo::after {
	content: "";
	position: absolute;
	right: -10px;
	top: 50%;
	transform: translateY(-50%);
	width: 4px;
	height: 31px;
	border-radius: 3px;
	background: var(--header-form-border-color)
}
/*=============================================
	=    		 Banner		      =
=============================================*/
.video-btn-element{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    margin: auto;
    cursor: pointer;
}
.video-btn-element .video-btn{
    position: absolute;
    z-index: 1;
}
.video-btn-element i{
    position: absolute;
    z-index: 2;
    color: #000;
}
.video-btn{
    -webkit-animation: rotate-animation 10s infinite linear;
    -moz-animation: rotate-animation 10s infinite linear;
    -o-animation: rotate-animation 10s infinite linear;
    animation: rotate-animation 10s infinite linear;
}
.video-btn-element:hover .video-btn{
    animation-play-state: paused;
}
@keyframes rotate-animation {
    0% {
      transform:rotate(0)
    }
    50% {
      transform:rotate(180deg)
    }
    100% {
      transform:rotate(360deg)
    }
  }
/*=============================================
	=    		 activity-table			      =
=============================================*/
#myTabContent tbody tr{
    transition: .5s;
}
#myTabContent tbody tr:hover{
    background-color: #473080 !important;
}
#myTabContent tbody tr td{
    color: #fff;
}

/*=============================================
	=    		canvas		      =
=============================================*/
#canv{
    z-index: -1;
    opacity: 0;
    transition: 5s ease-in-out;
}
#canv.open{
    z-index: 11111;
    opacity: 1;
}
/*=============================================
	=    		ticker		      =
=============================================*/
@-webkit-keyframes ticker {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }
  
    100% {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }
  
  @keyframes ticker2 {
    0% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    100% {
        -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  .ticker-conatin{
    position: relative;
    height: 200px;
    overflow: hidden;
  }
  .ticker-wrap {
    position: absolute;
    bottom: 30px;
    width: 100%;
    overflow: hidden;
    height: 4rem;
    background-color: #49b0b3; 
    padding-left: 100%;
    box-sizing: content-box;
    z-index: 100;
    transform: rotateZ(-2.5deg);
  }
  .ticker-wrap .ticker {
      display: flex;
      align-items: center;
      height: 4rem;
      line-height: 4rem;  
      white-space: nowrap;
      box-sizing: content-box;
  width: 100%;
      -webkit-animation-iteration-count: infinite; 
              animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
              animation-timing-function: linear;
     -webkit-animation-name: ticker;
             animation-name: ticker;
      -webkit-animation-duration: 20s;
              animation-duration: 20s;
  
    }
    .ticker-wrap2 {
        background-color: #6845ee; 
        transform: rotateZ(3deg);
        bottom: 104px;
      }
      .ticker-wrap2 .ticker {
        -webkit-animation-iteration-count: infinite; 
                animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
       -webkit-animation-name: ticker2;
               animation-name: ticker2;
        -webkit-animation-duration: 15s;
                animation-duration: 15s;
    
      }
      
    .ticker-wrap .ticker .ticker__item {
      display: inline-block;
      padding: 0 2rem;
      font-size: 1.5rem;
      color: white;  
    }

/*=============================================
	=    		whatsapp		      =
=============================================*/


    @keyframes fade-in {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      
      @keyframes drop {
        0% {
          bottom: 0px;
          opacity: 1;
        }
        
        80% {
          opacity: 1;
        }
        
        100% {
          opacity: 1;
          bottom: -200px;
        }
      }
      
      @keyframes wave {
        0% {
          background-position: 0 160px;
          background-size: 170px 300px;
        }
        
        100% {
          background-position: 500px -18px;
          background-size: 250px 150px;
        }
      }
      
  
      .kuhl{
        margin-top: 5px;
        width: 88%;
      }
      .whatsapp {
        width: 60px;
        height: 60px;
        position: fixed;
        margin: auto;
        left: 30px;
        right: auto;
        bottom: 80px;
        text-align: center;
        line-height: 120px;
        font-family: sans-serif;
        color: #ffffff;
        font-size: 16px;
        border-radius: 25px;
        z-index: 10000;
      }
      .whatsapp:hover {
        color: #fff;
      }
      .whatsapp span {
        z-index: 3;
        position: absolute;
        width: 100%;
        left: 0;
        top: -30px;
      }
      .whatsapp span i{
       font-size: 30px;
       background-color: #d300ff;
       border-radius: 50%;
       padding: 10px;
       box-shadow: 0 0 10px #d300ff,0 0 20px #d300ff;

      }
      .whatsapp-bg {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 25px;
        z-index: 2;
        animation: wave 1s ease-out forwards paused;

      }
     
      .drops {
        -webkit-filter: url('#liquid');
        filter: url('#liquid');
        position:absolute;
        top:0;
        left:0;
        bottom:0;
        right:0;
        z-index: 1;
        opacity: 0;
        animation: fade-in .1s linear .4s forwards;
      }
      
      .drop1 , .drop2 {
        width: 21px;
        height: 24px;
        border-radius: 50%;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        background-color: #d301ff;
      }
      
      .drop1 {
        width: 50%;
        height: 16px;
        bottom: 10px;
        border-radius: 0;
      }
      
      .drop2 {
        animation: drop 1.3s cubic-bezier(1,.19,.66,.12) .5s infinite running;
        animation-fill-mode: forwards;
      }
     
      /*=============================================
	=    		Login		      =
=============================================*/
@property --degree {
  syntax: '<angle>';
  initial-value:0deg;
  inherits: false;
}
.box{
    position: relative;
    width: 450px;
    height: 500px;
    background:repeating-conic-gradient(from var(--degree), #3bebff 0%,#3bebff 5%,transparent 5%,transparent 40%,#3bebff9f 50%);
    filter: drop-shadow(0px 15px 50px #000);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotate 4s linear infinite;
    transition: .5s;
}
/* .box:hover{
    width: 450px;
    height: 500px;
} */
@keyframes rotate
{
    0%{
      --degree:0deg;
    }
    100%{
        --degree:360deg;

    }
}
.box::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background:repeating-conic-gradient(from var(--degree), #c03cf9 0%,#c03cf9 5%,transparent 5%,transparent 40%,#c03cf9 50%);
    filter: drop-shadow(0px 15px 50px #000);
    border-radius: 20px;
    animation: rotate 4s linear infinite;
    animation-delay: -1s;
}
.box::after{
    content: '';
    position: absolute;
    inset: 4px;
    background-color: #131428;
    border-radius: 15px;
    border: 8px solid #131428;
}
.box .login{
    position: absolute;
    inset: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1000;
    box-shadow:  inset 0 10px 20px rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    transition: .5s;
    color: #fff;
    overflow: hidden;
}

/* .box:hover .login{
    inset: 40px;
} */
.login{
  background-image: url(../img/bg/bg2.jpg);
}
.loginBx {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 70%;
    transition: .5s;
    transform: translateY(0);
    transition: .5s;
}
/* .box:hover .loginBx{
    transform: translateY(0);
} */
.loginBx h2{
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .1em;
}
.loginBx i{
    font-size: 25px;
    color: #d400ff;
    text-shadow:  0 0 5px #d400ff,
    0 0 25px #d400ff;
}
.loginBx i:nth-child(1){
    margin-inline-start: 10px;
}
.loginBx input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    border: none;
    font-size: 1em;
    color: #fff;
    background: rgba(0,0,0,0.1);
    border: 2px solid #fff;
    border-radius: 30px;
}
.loginBx input::placeholder {
    color: #999;
}
.loginBx input[type="submit"]{
    background :#3bebff;
    border: none;
    font-weight: 500;
    color: #111;
    cursor :pointer;
    transition: 0.5s;
}
.loginBx input[type="submit"]:hover{
    box-shadow: 0 0 10px #3bebff,
    0 0 60px #3bebff;
}
.login .group {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.login .group a{
    color: #fff;
    text-decoration: none;
}
.login .group a:nth-child(2){
    color: #d400ff;
    font-weight: bold;
}

      /*=============================================
	=    		card game		      =
=============================================*/

:root {
  --card-height: 300px;
  --card-width: calc(var(--card-height) / 1.5);
}
.card-game {
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 36px;
  perspective: 2500px;
  margin: 0 50px;
  cursor: pointer;
}

.card-game .cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-game .wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.card-game:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.card-game .wrapper::before,
.card-game .wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}
.card-game .wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}
.card-game .wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.card-game:hover .wrapper::before,
.card-game .wrapper::after {
  opacity: 1;
}

.card-game:hover .wrapper::after {
  height: 120px;
}
.title {
  width: 100%;
  transition: transform 0.5s;
}
.card-game:hover .title {
  transform: translate3d(0%, -50px, 100px);
}

.card-game .character {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}

.card-game:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}
.orders-item{
  cursor: pointer;
  position: relative;
  transition: .5s;
}
.order-form .top-collection-item{
  position: relative;
  overflow: hidden;
}
.order-form .create-item-form,.order-form .collection-item-thumb,.order-form .collection-item-top{
  position: relative;
  z-index: 2;
}

.water {
  margin: auto;
  position: absolute;
  width: 100%;
  height: 0;
  background-color: #d93afc;
  box-shadow: inset 0 0 50px #1c637c;
  clip-path: polygon(-35px 2px, 110.50% 3px, 109.99% 116.99%, -16.99% 115.99%);
  bottom: 2px;
  z-index: 1;
  left: 0;
}
.water.active{
  animation: anim1 5s linear forwards ;
}
.water::before {
  content: "";
  width: 200%;
  height: 200%;
  background-color: #1d19330e;
  position: absolute;
  top: -150%;
  left: -50%;
  border-radius: 40%;
  animation: anim 12s linear infinite;
  z-index: 1;
}

.water::after {
  content: "";
  width: 204%;
  height: 204%;
  background-color: #1d19330e;
  position: absolute;
  top: -150%;
  left: -52%;
  border-radius: 40%;
  animation: anim 12s linear infinite;
  animation-delay: 0.5s;
  z-index: 1;
}

@keyframes anim1 {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.btn-form-order {
	position: relative;
	top: 0;
	left: 0;
	width: 250px;
	height: 50px;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
  background-color: transparent;
  border: none;
}
.btn-form-order.disabel{
  cursor: no-drop;
}
.btn-form-order span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 30px;
	padding: 10px;
	letter-spacing: 1px;
	text-decoration: none;
	overflow: hidden;
	color: #fff;
	font-weight: 400px;
	z-index: 1;
	transition: 0.5s;
	backdrop-filter: blur(15px);
}
.btn-form-order:hover span {
	letter-spacing: 3px;
}
.btn-form-order span::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
	transform: skewX(45deg) translate(0);
	transition: 0.5s;
	filter: blur(0px);
}
.btn-form-order:hover span::before {
	transform: skewX(45deg) translate(200px);
}
.btn-form-order::before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	bottom: -5px;
	width: 30px;
	height: 10px;
	background: #f00;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}
.btn-form-order:hover::before /*lightup button*/ {
	bottom: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}

.btn-form-order::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	top: -5px;
	width: 30px;
	height: 10px;
	background: #f00;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}
.btn-form-order:hover::after /*lightup button*/ {
	top: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}
.btn-form-order:nth-child(1)::before, /*chnage 1*/
.btn-form-order:nth-child(1)::after {
	background: #d400ff;
	box-shadow: 0 0 5px #d400ff, 0 0 15px #d400ff, 0 0 30px #d400ff,
		0 0 60px #d400ff;
}

      /*=============================================
	=    		blog page		      =
=============================================*/

.blog-item{
  border: 2px solid transparent;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-image: linear-gradient(125deg, #FFE53B 0%, #FF2525 37%, #fd00ff 100%);
    border-image-slice: 1;
    padding: 20px;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(3,0,16,.2);
    border-radius: 5px;
}
.blog-item .nft-thumb{
margin-bottom: 30px;
}
.blog-item .author-details h4 a:hover{
  color: #d400ff;
}
.blog-item .meta-info p{
  margin-inline-end: 20px;
}
.blog-item .meta-info i{
  color: #9900ff;
  margin-inline-end: 5px;
}
.blog-item .meta-info span{
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}